.article {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 10px;
    transition: all 0.25s ease;

    &:hover {
        box-shadow: inset 900px 0 0 0 #eee;
    }

    .thumbnail {
        height: 150px;
        background: linear-gradient(#fefefe, #efefef);
        flex: 0 0 150px;
    }

    .details {
        padding: 10px;

        .excerpt {
            margin-top: 20px;
        }

        .date {
            font-size: 12px;
            color: #6e6e6e;
        }
    }
}
