.content {
    margin-top: 25px;
    height: 70px;
    background-color: #2afa9c;
    font-size: 15px;
    padding: 10px 20px;
    line-height: 70px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}